{% extends 'base_ajax.html.twig' %}

{% block sections  %}

{% if prestations|length >0 %}

  <table class="table table-striped data-table" style="width:100%">
    <thead>
      <tr>
        <th>Date</th>
        <th>Id patient</th>
        <th>Nom patient</th>
        <th>Prenom patient</th>
        <th>Medecin</th>
        <th>Prestation</th>
        <th>Origine</th>
        <th>Montant</th>
        <th>Paiement</th>
        <th>Etat</th>
        <th>Payé</th>
        <th>Reste</th>
        <th>
          <b>Gérer</b>
        </th>

      </tr>
    </thead>

    <tbody>

      {% for c in prestations %}
        <tr class="no-sort" data-child-value="{{ c.Consultation.id }}">
          {% set medecin = c.Consultation.Medecin is defined and not c.Consultation.Medecin is null ?  c.Consultation.Medecin.nom~' '~c.Consultation.Medecin.prenom:"" %}
          <td>{{ c.Consultation.DateConsultation|date('d-m-Y') }}</td>
          <td>{{ c.Consultation.Patient.id }}</td>
          <td>{{ c.Consultation.Patient.nom  }}</td>
          <td>{{ c.Consultation.Patient.prenom  }}</td>
          <td>{{ medecin }}</td>
          <td>{{ c.Examen.nom  }}</td>
          <td>
            {{ c.Consultation.Origine }}
          </td>
          <td>{{ c.Prix }}</td>
          <td>
            <i class="fas fa-circle text-{{ c.Statut==2 ? "success":(c.Statut == 1 ? "warning":"danger" ) }} fa-fw statutpaiement"></i>
          </td>
          <td>
            {% if c.Etat == "1"  %}

              <div class="btn-group ">
                <button type="button" class="btn mb-1 btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Terminé
                </button>
                <div class="dropdown-menu " x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item etat0" onclick="changeState(this,{{ c.id }},'p');" href="#">En cours</a>
                </div>
              </div>

            {% else %}


              <div class="btn-group ">
                <button type="button" class="btn mb-1 btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  En cours
                </button>
                <div class="dropdown-menu " x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item etat1" onclick="changeState(this,{{ c.id }},'p');" href="#">Terminé</a>
                </div>
              </div>

            {% endif %}
          </td>
          <td>
            {{ c.Avance }}
          </td>
          <td>
            <span class="reste">{{ c.Prix - c.Avance   }}
            </span>
          </td>
          <td>
            <a style="font-size: 20px;" href="#" title="Paiement">
              <i class="align-middle fas fa-fw fa-money-bill" onclick="openPrestation({{ c.id }},1)"></i>
            </a>
            <a style="font-size: 20px;" href="#" title="Facture">
              <i class="align-middle fas fa-fw fa-file" onclick="openPrestation({{ c.id }},3)"></i>
            </a>
            <a style="font-size: 20px;" href="#" title="Etiquettes">
              <i class="align-middle fas fa-fw fa-tags" onclick="openPrestation({{ c.id }},2)"></i>
            </a>

            <a style="font-size: 20px;" href="#" data-toggle="tooltip" title="Compte rendu">
              <i class="align-middle fas fa-fw  fa-book" onclick="openPrestation({{ c.id }},4)"></i>
            </a>
          </td>
        </tr>

      {% endfor %}
    </tbody>
  <tfoot>
    <tr>
      <th>Date</th>
      <th>Id patient</th>
      <th>Nom patient</th>
      <th>Prenom patient</th>
      <th>Medecin</th>
      <th>Prestation</th>
      <th>Origine</th>
      <th>Montant</th>
      <th>Paiement</th>
      <th>Etat</th>
      <th>Payé</th>
      <th>Reste</th>
      <th>
        <b>Gérer</b>
      </th>
    </tr>
  </tfoot>
</table>{% endif %}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>

$('.data-table').DataTable({language: {searchPlaceholder: "Chercher par Cin , nom , prenom et examen , ID patient ..."}});

</script>

{% endblock %}
